@import 'tailwindcss';

@theme {
  --default-font-family: 'Outfit', sans-serif;
  --default-heading-font-family: 'PT Sans', sans-serif;
  --color-void-50: #f5f6fa;
  --color-void-100: #ebedf3;
  --color-void-200: #d2d7e5;
  --color-void-300: #aab4cf;
  --color-void-400: #7c8db4;
  --color-void-500: #5b6e9c;
  --color-void-600: #475682;
  --color-void-700: #3b4769;
  --color-void-800: #333d59;
  --color-void-900: #2e354c;
  --color-void-950: #08090d;
}
