---
import Image from 'astro/components/Image.astro';
import '../styles/global.css';
import { Header, Footer } from '../components/ui';

type Props = {

}

const {} = Astro.props
import image from '../assets/bg_home.jpg'
---
<main>
 <Header />
 <Image src={image} alt="Background Image" class="w-full h-auto" format='webp' />
 <slot />
 <Footer />
</main>

<style>

</style>
