---
import { Picture } from 'astro:assets';
import '../styles/global.css';
import { Header, Footer } from '../components/ui';

type Props = {
 title?: string;
}

const {title = "Astro Shop"} = Astro.props
import image from '../assets/bg_home.jpg'
---

<html lang="en">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link type="icon" href="/favicon.ico" rel="icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
  <title>{ title }</title>
 </head>
 <body class="bg-void-100">
   <Header />
   <Picture src={image} alt="Background Image" class="w-full h-auto" formats={['avif', 'webp']} />
   <main>
    <slot />
   </main>
   <Footer />
 </body>
</html>

<style>

</style>
